.button
    width: 100%
    display: block
    background-color: #2196F3
    border-radius: 5px
    color: #ffffff
    line-height: 50px
    letter-spacing: 0.5px
    font-size: 12px
    text-transform: uppercase
    transition: all .2s

    &:hover
        cursor: pointer
        background: lighten(#2196F3, 10%)
