.card
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    padding: 20px
    background-color: #FFFFFF

    & +.card
        margin-top: 20px

    .top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 20px

    .price
        font-size: 24px
        line-height: 24px
        color: #2196F3

    .line
        display: flex

        & + .line
            margin-top: 10px

    .block
        width: 33.3%
        max-width: 135px

        &:nth-of-type(2)
            margin: 0 20px

    .name
        font-size: 12px
        line-height: 18px
        letter-spacing: 0.5px

    .info
        line-height: 21px
