.container
    padding: 0 8px
    max-width: 754px
    width: 100%
    margin: 0 auto

.bold
    font-weight: 600

.grey
    color: #A0B0B9

.text-center
    text-align: center

.h3
    font-size: 12px
    line-height: 12px
    letter-spacing: 0.5px

.unstyle
    margin: 0
    padding: 0
    list-style: none

input[type="radio"]
    display: none

input[type="radio"] + label
    display: flex
    align-items: center

    &:hover
        cursor: pointer

    &:before
        content: ''
        border: 1px solid #9ABBCE
        border-radius: 2px
        width: 20px
        height: 20px
        display: inline-block
        margin-right: 10px

input[type="radio"]:checked + label
    &:before
        border-color: #2196F3
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.28571 8L0 4.16123L1.20857 3.07869L4.28571 5.82726L10.7914 0L12 1.09021L4.28571 8Z' fill='%232196F3'/%3E%3C/svg%3E")
        background-position: center
        background-repeat: no-repeat
