<div class="sort-by">
    <input type="radio" id="sort-by-1" name="sort" checked/>
    <label @click="setSort('price')" class="sort-label text-center" for="sort-by-1">Самый дешевый</label>
    <input type="radio" id="sort-by-2" name="sort"/>
    <label @click="setSort('fast')" class="sort-label text-center" for="sort-by-2">Самый быстрый</label>
    <input type="radio" id="sort-by-3" name="sort"/>
    <label @click="setSort('optimal')" class="sort-label text-center" for="sort-by-3">Оптимальный</label>
</div>
