.sort-by
    margin-bottom: 20px

    input[type="radio"]
        display: none

        & + label
            background-color: #FFFFFF
            border: 1px solid #DFE5EC

            &:before
                display: none

        &:checked + label
            background-color: #2196F3
            border: none
            color: #ffffff

    .sort-label
        display: inline-block
        width: 33.3%
        padding: 19px 0
        letter-spacing: 0.5px
        font-size: 12px

        &:first-of-type
            border-radius: 5px 0 0 5px

        &:last-of-type
            border-radius: 0 5px 5px 0

        &:hover
            cursor: pointer
