<div class="container search-page">
    <filter-bar @setFilters="setFilters" />
    <div class="search">
        <search-by @setSort="setSort" />
        <div class="content">
            <card
                v-for="ticket in tickets.slice(0, step)"
                :key="ticket.price + ticket.carrier"
                :ticket="ticket"
            />
        </div>
        <div
            v-if="tickets.length"
            @click="step += 5"
            class="button text-center">
                Показать еще 5 билетов!
        </div>
    </div>
</div>
