@import "@style/components/_button.sass"


.search-page
    display: flex
    align-items: flex-start

    .search
        flex-grow: 1
        margin-bottom: 20px

    .content
        margin-bottom: 20px

.list-enter-active,
.list-leave-active
    transition: all 0.1s

.list-enter-from,
.list-leave-to
    opacity: 0
