<aside class="filter">
    <h3 class="h3 bold">Количество пересадок</h3>
    <ul class="unstyle filter-list">
        <li class="item">
            <input v-model="filters" value="all" type="radio" id="filter-1" name="filter" checked/>
            <label class="filter-label" for="filter-1">Все</label>
        </li>
        <li class="item">
            <input v-model="filters" :value="0" type="radio" id="filter-2" name="filter"/>
            <label class="filter-label" for="filter-2">Без пересадок</label>
        </li>
        <li class="item">
            <input v-model="filters" :value="1" type="radio" id="filter-3" name="filter"/>
            <label class="filter-label" for="filter-3">1 пересадка</label>
        </li>
        <li class="item">
            <input v-model="filters" :value="2" type="radio" id="filter-4" name="filter"/>
            <label class="filter-label" for="filter-4">2 пересадки</label>
        </li>
        <li class="item">
            <input v-model="filters" :value="3" type="radio" id="filter-5" name="filter"/>
            <label class="filter-label" for="filter-5">3 пересадки</label>
        </li>
    </ul>
</aside>
