.filter
    margin-right: 20px
    width: 232px
    background-color: #ffffff
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1)
    border-radius: 5px
    padding: 20px 20px 5px
    flex-shrink: 0

    .filter-list
        margin-top: 20px

        .item
            margin: 0 -20px

            &:hover
                background-color: #F1FCFF

        .filter-label
            font-size: 13px
            width: 100%
            padding: 10px 20px
