@import "core/reset.sass"
@import "core/_base.sass"
@import "core/_vars.sass"

*, :after, :before
    box-sizing: border-box

html
    margin-left: calc(100vw - 100%)
    margin-right: 0

body
    background: $text
    font-family: 'Open Sans'
    font-size: $textSize
    color: #4A4A4A

