.header
    padding: 20px 8px
    display: flex

    .logo
        margin: 0 auto

.animation
    animation: pulse .5s infinite ease-in-out

@keyframes pulse
    0%
        transform: scale(0.95)

    70%
        transform: scale(1)

    100%
        transform: scale(0.95)
